* {
  box-sizing: border-box;
  background-color: black;
}

body {
  height: 100vh;
  margin: 0;
}
 
header {
  display: flex;
  justify-content: center;
  margin: 20px ;
}
h1 {
  color:#85ef47;
  margin: 10px 50px;
  background-color:darkcyan;
  
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center; 
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;

}

.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid green;
  
}
.activeAlien {
background-color: #01005e;

}
.ship {
  background-color: #ff0000;

}
.gunLaser {
  background-color: orange;
}
.explode {
  background-color: beige;
}