@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  background-color: black;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

header {
  display: flex;
  justify-content: center;
  width: 436px;
  height: 200px;
  margin: 20px auto;
  background-image: url('./images/476757-spaceinvaderslogo.gif');
  background-size: auto;
}
h1,
h2 {
  font-size: 25px;
  margin: 10px 50px;
  background-color: white;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
}

.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid green;
}
.activeAlien {
  background-image: url('./images/final.png');
  background-size: cover;
}
.ship {
  background-image: url('./images/SeekPng.com_space-ship-png_1581234.png');
  background-size: cover;
}
.gunLaser {
  background-image: url('./images/missiletwo.png');
  background-size: cover;
}
.explode {
  background-color: beige;
}
.controls-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  /* background-color: bisque; */
  width: 850px;
  border: 1px solid green;
  /* margin-left: auto;
  margin-right: auto; */
  font-size: 25px;
}

#start {
  color: black;
  background-color: yellowgreen;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 10px;
  font-family: inherit;
}

#restart {
  color: black;
  background-color: yellowgreen;
  padding: 15px;
  border-radius: 25px;
  border: none;
  font-size: 10px;
  font-family: inherit;
}
#score-display {
  font-size: 25px;
  color: #ff0000;
}
#lives {
  font-size: 25px;
  color: #ff0000;
}
p {
  /* background-color: #606470; */
  /* font-size: 10px; */
  color: greenyellow;
}
.bomb {
  /* background-color: #606470; */
  background-image: url('./images/laserSprite.png');
  background-size: contain;
}
.boom {
  background-color: darkcyan;
  /* background-image: url('./images/boom.png');
  background-size:contain; */
}
.start-game-container {
  position: fixed;
  top: 200px;
  z-index: 500;
  width: 100%;
  height: 350px;
}
.start-game {
  width: 40%;
  height: 100%;
  z-index: 600;
  background-color: black;
  border: 1px solid limegreen;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
  font-size: 10px;
}
.hidden {
  display: none;
}
